@charset "ISO-8859-1";

header {
	background: black;
	color: white;
}

footer {
	background: #aaa;
	color: white;
}

canvas {
	border: 1px solid #000000;
	background-color: #f1f1f1;
	width: 100px;
	height: 100px;
}

.empty {
	background-color: #ffff00;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.red-win {
	animation-name: red-anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.green-win {
	animation-name: green-anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes red-anim {
	from {background-color: red;
}

to {
	background-color: yellow;
}

}

@keyframes green-anim {
	from {background-color: green;
}

to {
	background-color: yellow;
}

}
.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	text-align: center;
}

.flex-container>* {
	padding: 15px;
	-webkit-flex: 1 100%;
	flex: 1 100%;
}

.nav {
	background: #eee;
}

.nav ul {
	list-style-type: none;
	padding: 0;
}